.slider{
    overflow-y: hidden;
    max-height: 500px;

    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1)
}

.slider.closed{
    max-height: 20px;
}