<!-- <div class="row banner">

    <div class="ta-center h1">
        {{title}}
    </div>
    <menu-icon style="float:right;"></menu-icon>
</div> -->

<nav class="navbar navbar-expand-sm banner">
    <div class="col-md-4">

    </div>

    <div class="col-md-4 navbar-collapse justify-content-sm-center">

        <h2 class="title">{{title}}</h2>

    </div>
    <div class="col-md-4">
        <i class="fa fa-bars fa-border fa-pull-right fa-2x " style="cursor:pointer;" aria-hidden="true" (click)="this.sidenav.open()"></i>
    </div>
</nav>