<div class="row">
    <span class="col-md-4"></span>
    <div class="col-md-4 bg">

        <form>
            <!-- <button type="button" class="btn btn-primary operatorBtn" (click)="operator(1)">+</button> -->
            <!-- <br> -->
            <!-- <br> -->
            <p><input class="number" type="number" [(ngModel)]="numPeople" name="numPeople" min="0" [max]="maxCapacity" /></p>
            <!-- <br> -->
            <!-- <br> -->
            <!-- <button type="button" class="btn btn-primary operatorBtn" (click)="operator(-1)">-</button> -->
            <p><button type="button" class="btn btn-primary" (click)="submit()">Submit</button></p>
        </form>

    </div>
    <span class="col-md-4"></span>
</div>