<div>

    <div>
        <app-map-search></app-map-search>
    </div>


    <menu-icon class=" fa-border  menu" (navToggle)="sidenav.toggle()" (click)="menuFilter('menu')"></menu-icon>
    <menu-icon class="fa-border  filter" (navToggle)="sidenav.toggle()" (click)="menuFilter('filter')"></menu-icon>




    <!-- actual map start -->
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="11" [styles]="customStyle" class="map">

        <agm-marker *ngFor="let l of locations; let i = index" [latitude]="l.lat" [longitude]="l.lng">
        </agm-marker>

        <!-- !! STILL NOT WORKING !! <agm-marker [latitude]="userLocation.lat" [longitude]="userlocation.lng"></agm-marker> -->

    </agm-map>
    <!-- actual map end -->

</div>